body {
    font-family: sans-serif;
    background: grey;
}

.sketches {
    display: flex;
    flex-wrap: wrap;
}

.sketch {
    margin: 10px;
    width: 200px;
    height: 200px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}